<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>


	<% if (messages.error) { %>
		<p class="alert alert-danger" style="z-index:999;">
			<%- messages.error %>
		</p>
		<% } %>

			<% if (messages.success) { %>
				<p class="alert alert-success" style="z-index:999;">
					<%- messages.success %>
				</p>
				<% } %>

					<head>
						<link href="/assets/css/formstyle.css" rel="stylesheet">
					</head>

					<div id="k1">
						<form action="/result/add" method="post" name="form">
							<h1>Add Result of Event</h1>
							<br>
							<input type="radio" name="gender" value="Male" checked> Male
							<br>
							<input type="radio" name="gender" value="Female"> Female
							<br>
							<% if (data) { %>

								<select name="event_id" id='selectEvent'>
									<!-- <option value="Select">Please Select a Event</option> -->
									<!--<optgroup label="Select Table">  -->
									<option value="" disabled selected>Select Event</option>
									<% data.forEach(function(row){ %>
										<option class="<%= row.gender%>" value="<%= row.id %>">
											<%= row.event_name %>
										</option>
										<% }) %>
											<!--	</optgroup>  -->
								</select>
								<% } %>

									<label for="first">First</label>
									<input type="text" id="first" name="first">

									<label for="second">Second</label>
									<input type="text" id="second" name="second">

									<label for="third">Third</label>
									<input type="text" id="third" name="third">

									<input type="submit" value="Submit">
						</form>
					</div>

					<script>
						$(document).ready(function () {

							$('#selectEvent option.Female').hide();
							$('#selectEvent option.Male').show();
							$('input[type=radio][name=gender]').change(function () {
								if (this.value == 'Female') {
									$('#selectEvent option.Male').hide();
									$('#selectEvent option.Female').show();
								} else {
									$('#selectEvent option.Female').hide();
									$('#selectEvent option.Male').show();
								}
							});
						});
					</script>
					<!--
including footer content which is common for all pages
-->
					<%- include ../layouts/footer.ejs %>