<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

	<% if (messages.error) { %>
		<p class="alert alert-danger">
			<%- messages.error %>
		</p>
		<% } %>

			<% if (messages.success) { %>
				<p class="alert alert-success">
					<%- messages.success %>
				</p>
				<% } %>
					<div style="padding-top:300px">
						<table width='80%' border=0>

							<tr style='text-align:left; background-color:#CCC'>
								<th>ID</th>
								<th>Event Type</th>
								<th>Event Name</th>
								<th>Gender</th>
								<th>Event Category</th>
								<th>Action</th>
							</tr>

							<!--
		Using FOREACH LOOP for the students array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->
							<% if (data) { %>
								<% let i = 0%>
									<% data.forEach(function(event){ %>

										<tr>
											<td>
												<%= ++i %>
											</td>
											<td>
												<%= event.event_type %>
											</td>
											<td>
												<%= event.event_name %>
											</td>
											<td>
												<%= event.gender %>
											</td>
											<td>
												<%= event.event_cat %>
											</td>
											<td>
												<div style="float:left">
													<a href='/events/edit/<%= event.id %>'>Edit</a> &nbsp;
													<form method="post" action="/events/delete/<%= event.id %>" style="float:right">
														<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
														<input type="hidden" name="_method" value="DELETE" />
													</form>
												</div>
											</td>
										</tr>
										<% }) %>
											<% } %>

						</table>
					</div>
					<!--
including footer content which is common for all pages
-->
					<%- include ../layouts/footer.ejs %>