<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

	<% if (messages.error) { %>
		<p style="color:red">
			<%- messages.error %>
		</p>
		<% } %>

			<% if (messages.success) { %>
				<p style="color:green">
					<%- messages.success %>
				</p>
				<% } %>
				<section id="hero1">
					<div class="hero-container">
						<form action="/students/add" method="post" name="form1">
							<table width="25%" border="0">
								<tr>
									<td>Name</td>
									<td>
										<input type="text" name="name" id="name" value="<%= name %>" />
									</td>
								</tr>
								<tr>
									<td>year</td>
									<td>
										<input type="text" name="year" value="<%= year %>" />
									</td>
								</tr>
								<tr>
									<td>course</td>
									<td>
										<input type="text" name="course" value="<%= course %>" />
									</td>
								</tr>
								<tr>
									<td>roll no</td>
									<td>
										<input type="text" name="rollno" value="<%= rollno %>" />
									</td>
								</tr>
								<tr>
									<td>branch</td>
									<td>
										<input type="text" name="branch" value="<%= branch %>" />
									</td>
								</tr>
								<tr>
									<td>gender</td>
									<td>
										<input type="text" name="gender" value="<%= gender %>" />
									</td>
								</tr>
								<% for(var i=0; i<events.length; i++) {%>
									<input type="checkbox" name="event" value="<%= events[i].event_name%>">
									<%= events[i].event_name%>
										<br>
										<% } %>
											<tr>
												<td></td>
												<td>
													<input type="submit" name="Submit" value="Add" />
												</td>
											</tr>
							</table>
						</form>
					  <!-- <h2>We are team of talanted designers making websites with Bootstrap</h2> -->
					</div>
				  </section><!-- #hero -->

					

					<!--
including footer content which is common for all pages
-->
					<%- include ../layouts/footer.ejs %>