<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

	<% if (messages.error) { %>
		<p class="alert alert-danger" style="z-index:999;">
			<%- messages.error %>
		</p>
		<% } %>

			<% if (messages.success) { %>
				<p class="alert alert-success" style="z-index:999;">
					<%- messages.success %>
				</p>
				<% } %>

					<head>
						<link href="/assets/css/formwithoutpadding.css" rel="stylesheet">
					</head>



					<div class="row" style="padding-top:150px; padding-left:120px;">
						<div class="col-md-3">
							<h1>Register the student</h1>
						</div>
						<div class="row">
							<div id="results" class="col-md-3"></div>

						</div>

						<div id="my_camera" class="col-md-3"></div>

					</div>

					<div id="k1" class="row less">

						<form action="/students/add" method="post" name="form1">
							<div class="row">
								<input class="btn btn-success" type=button value="Take Snapshot" onClick="take_snapshot()">
							</div>
							<label for="name">Name</label>
							<input type="text" id="name" name="name" placeholder="Your name.." value="<%= name %>">

							<label for="year">Year</label>

							<select id="year" name="year" value="<%= year %>">
								<option value="First">First Year</option>
								<option value="Second">Second Year</option>
								<option value="Third">Third Year</option>
								<option value="Fourth">Fourth Year</option>

							</select>


							<label for="course">Course</label>

							<select id="course" name="course" value="<%= course %>">
								<option value="Btech">B.Tech</option>
								<option value="Mtech">M.Tech</option>
								<option value="MCA">MCA</option>
								<option value="MBA">MBA</option>
							</select>


							<label for="rollno">Roll No.</label>
							<input id="photo" type="hidden" name="photo" value="" />

							<input type="number" id="rollno" name="rollno" placeholder="Roll No.." value="<%= rollno %>">

							<label for="branch">Branch</label>

							<select id="branch" name="branch" value="<%= branch %>">
								<option value="CSE">CSE</option>
								<option value="IT">IT</option>
								<option value="ECE">ECE</option>
								<option value="EE">EE</option>
								<option value="ME">ME</option>
								<option value="PE">PE</option>
								<option value="CE">CE</option>
							</select>



							<label for="gender">Gender</label>

							<select id="gender" name="gender" value="<%= gender %>">
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
							<div class="col-md-12">
								<label style="text-align:center;">Events</label>
							</div>

							<div id="checkboxes">
								<% for(var i=0; i<events.length; i++) {%>

									<div class="col-md-4" style="border-top:1px;">

										<input class="chk <%= events[i].event_cat%>" id="event" type="checkbox" name="event" value="<%= events[i].event_name%>" test="<%= events[i].event_cat%>">
										<label for="event">
											<%= events[i].event_name%>
										</label>
									</div>
									<% } %>
							</div>
							<div class="col-md-12">
								<div class="col-md-4">
									<input type="submit" value="Submit">
								</div>
							</div>
					</div>

					</form>
					<input style=" margin-left:120px;margin-bottom:20px;" type="button" class="btn btn-danger" value="Reset Checkboxes" onclick="resetChk()">
					</div>

					<!-- First, include the Webcam.js JavaScript Library -->

					<!-- Configure a few settings and attach camera -->
					<script language="JavaScript">
						Webcam.set({
							width: 320,
							height: 240,
							image_format: 'jpeg',
							jpeg_quality: 90
						});
						Webcam.attach('#my_camera');

						function take_snapshot() {
							// take snapshot and get image data
							Webcam.snap(function (data_uri) {
								document.getElementById('photo').value = data_uri;
								// display results in page
								document.getElementById('results').innerHTML =

									'<img src="' + data_uri + '"/>';
							});
						}
						$("form").submit(function () {

							$("input:checkbox").removeAttr("disabled");

						});

						function resetChk() {
							$('input:checkbox').removeAttr('checked');
							$('input:checkbox').removeAttr('disabled');

						}
						$(document).ready(function () {

							$(document).on('change', 'input[type="checkbox"]', function (e) {
								var selected = [],
									field = 0,
									track = 0,
									count = 0;
								$('#checkboxes input:checked').each(function () {
									selected.push($(this).attr('test'));
									if ($(this).attr('test') == 'Field') {
										field++;
									}
									if ($(this).attr('test') == 'Track') {
										track++;
									}
									count++;
								});
								if (count > 2) {
									$('#checkboxes').each(function () {
										$('.chk').prop('disabled', true);
									});
								} else {
									if (field > 1)
										$('#checkboxes').each(function () {
											$('.Field').prop('disabled', true);
										});
									if (track > 1)
										$('#checkboxes').each(function () {
											$('.Track').prop('disabled', true);
										});
								}
								//do your stuff here
							});

						});
					</script>


					<!--
including footer content which is common for all pages
-->
					<%- include ../layouts/footer.ejs %>