<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

	<% if (messages.error) { %>
		<p class="alert alert-danger" style="z-index:999;">
			<%- messages.error %>
		</p>
		<% } %>

			<% if (messages.success) { %>
				<p class="alert alert-success" style="z-index:999;">
					<%- messages.success %>
				</p>
				<% } %>

					<head>
						<link href="/assets/css/formstyle.css" rel="stylesheet">
					</head>

					<div id="k1">
						<form action="/students/edit/<%= id %>" method="post" name="form1">
							<label for="name">Name</label>
							<input type="text" id="name" name="name" placeholder="Your name.." value="<%= name %>">

							<label for="year">Year</label>

							<select id="year" name="year" value="<%= year %>">
								<option value="First" <%=year=='First' ? 'selected' : ''%>>First Year</option>
								<option value="Second" <%=year=='Second' ? 'selected' : ''%>>Second Year</option>
								<option value="Third" <%=year=='Third' ? 'selected' : ''%>>Third Year</option>
								<option value="Fourth" <%=year=='Fourth' ? 'selected' : ''%>>Fourth Year</option>

							</select>

							<label for="course">Course</label>

							<select id="course" name="course" value="<%= course %>">
								<option value="B.Tech" <%=course=='B.Tech' ? 'selected' : ''%>>B.Tech</option>
								<option value="M.Tech" <%=course=='M.Tech' ? 'selected' : ''%>>M.Tech</option>
								<option value="MCA" <%=course=='MCA' ? 'selected' : ''%>>MCA</option>
								<option value="MBA" <%=course=='MBA' ? 'selected' : ''%>>MBA</option>

							</select>

							<label for="rollno">Roll No</label>
							<input type="number" id="rollno" name="rollno" placeholder="Roll No.." value="<%= rollno %>">

							<label for="branch">Branch</label>

							<select id="branch" name="branch" value="<%= branch %>">
								<option value="CSE" <%=branch=='CSE' ? 'selected' : ''%>>CSE</option>
								<option value="IT" <%=branch=='IT' ? 'selected' : ''%>>IT</option>
								<option value="ECE" <%=branch=='ECE' ? 'selected' : ''%>>ECE</option>
								<option value="EE" <%=branch=='EE' ? 'selected' : ''%>>EE</option>
								<option value="ME" <%=branch=='ME' ? 'selected' : ''%>>ME</option>
								<option value="PE" <%=branch=='PE' ? 'selected' : ''%>>PE</option>
								<option value="CE" <%=branch=='CE' ? 'selected' : ''%>>CE</option>
							</select>

							<label for="gender">Gender</label>

							<select id="gender" name="gender" value="<%= gender %>">
								<option value="Male" <%=gender=='Male' ? 'selected' : ''%>>Male</option>
								<option value="Female" <%=gender=='Female' ? 'selected' : ''%>>Female</option>

							</select>

							<div class="col-md-12">
								<label style="text-align:center;">Events</label>
							</div>

							<div id="checkboxes">
								<% for(var i=0; i<events.length; i++) {%>
									<%if(events[i].gender == 'Male'){%>
										<div class="col-md-4 male" style="border-top:1px;">
											<input gender="<%= events[i].gender%>" class="chk <%= events[i].event_cat%>" id="event" type="checkbox" name="event" value="<%= events[i].event_name%>"
											    test="<%= events[i].event_cat%>">
											<label for="event">
												<%= events[i].event_name%>
											</label>
										</div>
										<% } %>
											<%if(events[i].gender == 'Female'){%>

												<div class="col-md-4 female" style="border-top:1px;">
													<input gender="<%= events[i].gender%>" class="chk <%= events[i].event_cat%>" id="event" type="checkbox" name="event" value="<%= events[i].event_name%>"
													    test="<%= events[i].event_cat%>">
													<label for="event">
														<%= events[i].event_name%>
													</label>
												</div>
												<% } %>
													<% } %>

							</div>

							<input type="submit" name="Submit" value="Edit">
							<input type="hidden" name="_method" value="PUT" />
						</form>
					</div>
					<input style=" margin-left:120px;margin-bottom:20px;" type="button" class="btn btn-danger" value="Reset Checkboxes" onclick="resetChk()">
					<div>
						<script>
							$("form").submit(function () {
								$("input:checkbox").removeAttr("disabled");
							});

							function resetChk() {
								$('input:checkbox').removeAttr('checked');
								$('input:checkbox').removeAttr('disabled');

							}
							$(document).ready(function () {
								if ("<%= gender %>" == "Male") {
									$(".female").css("display", "none");
									$(".male").css("display", "block");
								} else {
									$(".female").css("display", "block");
									$(".male").css("display", "none");
								}
								$("#gender").change(function () {
									if ($('option:selected', this).text() == "Male") {
										$(".female").css("display", "none");
										$(".male").css("display", "block");
									} else {
										$(".female").css("display", "block");
										$(".male").css("display", "none");
									}
								});
								$(document).on('change', 'input[type="checkbox"]', function (e) {
									var selected = [],
										field = 0,
										track = 0,
										count = 0;
									$('#checkboxes input:checked').each(function () {
										selected.push($(this).attr('test'));
										if ($(this).attr('test') == 'Field') {
											field++;
										}
										if ($(this).attr('test') == 'Track') {
											track++;
										}
										if ($(this).attr('test') != 'Others') {
											count++;
										}
										console.log("count ", count);

									});

									if (count > 2) {
										$('#checkboxes').each(function () {
											$('.chk').prop('disabled', true);
										});
									} else {
										if (field > 1)
											$('#checkboxes').each(function () {
												$('.Field').prop('disabled', true);
											});
										if (track > 1)
											$('#checkboxes').each(function () {
												$('.Track').prop('disabled', true);
											});
									}
									//do your stuff here
								});

							});
						</script>
						<%- include ../layouts/footer.ejs %>