<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

	<% if (messages.error) { %>
		<p class="alert alert-danger">
			<%- messages.error %>
		</p>
		<% } %>

			<% if (messages.success) { %>
				<p class="alert alert-success">
					<%- messages.success %>
				</p>
				<% } %>

					<head>
						<link href="/assets/css/formstyle.css" rel="stylesheet">
					</head>

					<div id="k1">
						<form action="">
							<label for="event_name">Name</label>
							<input type="text" id="event_name" name="event_name" placeholder="Your name.." value="<%= event_name %>">

							<label for="event_type">Type</label>
							<input type="text" id="event_type" name="event_type" placeholder="Year.." value="<%= event_type %>">
							<select id="event_type" name="event_type" value="<%= event_type %>">
								<option value="australia">Australia</option>

							</select>

							<label for="event_cat">Category</label>
							<input type="text" id="event_cat" name="event_cat" value="<%= event_cat %>">
							<select id="event_cat" name="event_cat" value="<%= event_cat %>">
								<option value="australia">Australia</option>

							</select>

							<label for="rollno">Gender</label>
							<input type="text" id="gender" name="gender" placeholder="Roll No.." value="<%= gender %>">
							<select id="gender" name="gender" value="<%= gender %>">
								<option value="australia">Australia</option>

							</select>


							<input type="submit" name="Submit" value="Add">
						</form>
					</div>

					<form action="/events/edit/<%= id %>" method="post" name="form1">
						<table width="25%" border="0">
							<tr>
								<td>Name</td>
								<td>
									<input type="text" name="event_name" id="event_name" value="<%= event_name %>" />
								</td>
							</tr>
							<tr>
								<td>Type</td>
								<td>
									<input type="text" name="event_type" value="<%= event_type %>" />
								</td>
							</tr>
							<tr>
								<td>Category</td>
								<td>
									<input type="text" name="event_cat" value="<%= event_cat %>" />
								</td>
							</tr>
							<tr>
								<td>gender</td>
								<td>
									<input type="text" name="gender" value="<%= gender %>" />
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<input type="submit" name="Submit" value="Edit" />
								</td>
							</tr>
						</table>
						<input type="hidden" name="_method" value="PUT" />
					</form>

					<!--
including footer content which is common for all pages
-->
					<%- include ../layouts/footer.ejs %>